:root {
  --right-ear: rgb(231, 76, 60);
  --left-ear: rgb(52, 152, 219);
  --error-bg: #fff3e0;
  --error-border: #ff9800;
}

body {
  font-family:
    "Inter",
    -apple-system,
    sans-serif;
  background: #f0f2f5;
  padding: 20px;
  color: #1a1a1a;
}

.container {
  /* max-width: 1300px; */
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 11px;
  font-weight: 700;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.field input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.main-layout {
  display: grid;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  font-size: 13px;
}

th,
td {
  border: 1px solid #eee;
  padding: 6px 3px;
  text-align: center;
}

.row-label {
  text-align: left;
  font-weight: 600;
  width: 150px;
  background: #f9fafb;
}

input[type="number"] {
  width: 55px;
  padding: 6px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
}

input.input-error,
td.input-error {
  background-color: var(--error-bg);
  border-color: var(--error-border);
  color: #d35400;
}

.result-row {
  background: #f8fbff;
  font-weight: 800;
  color: #2c3e50;
  font-size: 1.1em;
}

.chart-wrapper {
  width: 70%;
  place-self: center;
  canvas {
    place-self: center;
  }
}

.controls {
  display: grid;
  gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media print {
  .no-print {
    display: none;
  }

  .container {
    box-shadow: none;
    border: none;
    padding: 0;
  }

  body {
    background: white;
  }
}
