* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --width: 700px;
}

body {
  display: grid;
  place-content: center;
  background-color: #f0f0f0;
}

#audiogram_result {
  field-sizing: content;
  width: var(--width);
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-inline: auto;
}
section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 10px;
  margin-inline: auto;
  margin-bottom: 20px;
  /* border: 2px solid black; */
  place-content: center;
  padding-block: 20px;
  padding-inline: 20px;
  align-items: center;
  max-width: 800px;
}

#guidance_text {
  width: var(--width);
  padding-block: 10px;
  padding-inline: 10px;
  line-height: 150%;
  max-width: 100%;
  background-image: linear-gradient(120deg, #fdfbfb 20%, #ebedee 100%);
  border: 2px solid #ebedee;
}
#definition {
  width: calc(var(--width) - 50px);
  padding: 15px;
  max-width: 100%;
  justify-self: center;
  background-color: #85d7fa79;
  border-radius: 5px;
  border: 1px solid lightgray;
  span {
    line-height: 150%;
    padding-top: 5px;
    padding-bottom: 3px;
    font-style: italic;
    font-size: 14px;
  }
}

#picker_wrapper {
  display: grid;
  gap: 5px;
  padding: 5px;
  width: 100%;
  justify-self: start;
  justify-items: center;
  border: 1px solid dodgerblue;
  border-radius: 7px;
  grid-column: 1;
}
#picker_outer_wrapper {
  display: grid;
  gap: 5px;

  color: #2e1065;
}

#timing {
  width: 150px;
}
:focus {
  outline: 1px solid blue;
}
input,
select {
  padding: 5px;
}

.grid-one-row {
  width: var(--width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

label {
  color: #677083;
}

.secondary-selects {
  display: grid;
  select {
    min-width: 200px;
    margin-top: 10px;
  }
}

#picker_result {
  padding: 5px;
  width: 100%;
  justify-self: end;
  justify-items: center;
  border: 1px solid dodgerblue;
  border-radius: 7px;
}

#timing_picker_card {
  background: #ecfccb;
}
