* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  place-content: center;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: auto;
}

.inputs-contents,
.guidance-contents {
  width: 100%;
  display: grid;
  grid-template-columns: auto-fill;
  gap: 10px;
  margin-inline: auto;
  margin-bottom: 20px;
  border: 2px solid black;
  place-content: center;
  padding-block: 20px;
  align-items: center;
  max-width: 800px;
}

#guidance_text {
  /* max-width: 500px; */
  width: 450px;
  height: 200px;
  background-color: bisque;
  padding-right: 2px;
  padding-top: 10px;
  margin-inline: 5px;
  line-height: 150%;
  max-width: 100%;
}

#timing_flex_wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

#picker_wrapper {
  display: flex;
  gap: 10px;
}

#show_date_picker {
  width: 80px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
}
#show_date_picker:hover {
  background-color: yellow;
  border: 1px solid black;
}

#timing {
  width: 150px;
}
:focus {
  outline: 1px solid blue;
}
input,
select {
  padding: 5px;
}

.admin-popover {
  margin: auto;
  height: 80%;
}
.admin-popover::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.admin-popover-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 50px 1fr; */
  margin: auto;
}

.admin-card {
  display: grid;
  grid-template-columns: 300px;
  grid-auto-rows: min-content;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.admin-card textarea {
  width: 100%;
  height: 100px;
}
.admin-popover-contents input {
  width: 100%;
}

.admin-popover-contents h5 {
  text-align: center;
  margin: 0;
  height: 30px;
}
.admin-popover-contents ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.admin-li-wrapper {
  display: flex;
  gap: 2px;
}

.admin-guidance-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

textarea {
  field-sizing: normal; /* used to be `form-sizing` but changed to this */
}
