.svelte-x9j153.svelte-x9j153 {
  box-sizing: border-box;
}
@media print {
  .svelte-x9j153.svelte-x9j153 {
    display: none;
  }
}
#menu-btn-wrapper.svelte-x9j153.svelte-x9j153 {
  display: grid;
  gap: 5px;
  place-content: center;
  padding: 40px;
}
#menu-btn-wrapper.svelte-x9j153 > button.svelte-x9j153 {
  background-color: #fff;
  width: 130px;
  border: 1px solid black;
}
#menu-btn-wrapper.svelte-x9j153 > button.svelte-x9j153:hover {
  border: 2px solid black;
  box-shadow: 2px 2px 2px;
}
#menu-popover.svelte-x9j153.svelte-x9j153 {
  width: 80%;
  border: 1px solid black;
  width: 150px;
  border-radius: 7px;
}
#menu-popover.svelte-x9j153.svelte-x9j153::backdrop {
  background: #0009;
}
button.svelte-x9j153.svelte-x9j153 {
  cursor: pointer;
}
a.svelte-x9j153.svelte-x9j153 {
  padding: 0 0 0 15px;
  margin: 0;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}
a.svelte-x9j153.svelte-x9j153:hover {
  color: #000;
}
header.svelte-x9j153.svelte-x9j153 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 1px solid black;
  box-shadow: 2.1px 3.2px 12.5px #00000016, 7.1px 10.7px 42px #00000021,
    32px 48px 188px #0000003b;
  background-image: linear-gradient(15deg, #13547a, #80d0c7);
  max-width: 900px;
  margin: auto;
}
header.svelte-x9j153 > button.svelte-x9j153 {
  min-width: 100px;
  max-width: 200px;
  height: 80%;
  max-height: 40px;
  justify-self: end;
  margin-right: 1rem;
}
#sub_section.svelte-1edgxf5 {
  display: grid;
  place-content: center;
  border: 1px solid black;
  max-width: 900px;
  margin: 5px auto auto;
}
@media print {
  .svelte-1edgxf5 {
    display: none;
  }
}
