* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
body {
  background-color: #f0f0f0;
}
main {
  background-color: white;
  display: grid;
  max-width: 800px;
  border: 1px solid black;
  margin: auto;
  place-content: center;
  justify-items: center;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 20px;
  gap: 10px;
}

.title {
  grid-column: 1 / span 4;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  h1 {
    text-align: center;
    padding: 10px;
  }
}

.spacer {
  width: 100%;
}
.result {
  border: 2px solid black;
  border-radius: 7px;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-content: center;
  filter: drop-shadow(1px 2px 1px black);
}
.result:hover {
  cursor: pointer;
}
.side-label {
  display: grid;
  place-content: center;
}
#key {
  grid-column: 1 / span 4;
  justify-self: stretch;
  padding-left: 10px;
  border: 1px solid black;
  h4 {
    padding-block: 5px;
  }
}
.key-symbol {
  height: 25px;
  width: 30px;
}
.key-group {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
}
.DNT {
  color: rgba(128, 128, 128, 0.524);
  font-style: italic;
}
.DNT:after {
  content: "*";
}
.DNT-box {
  border: 1px solid rgba(128, 128, 128, 0.524);
  filter: none;
}
.DNT-box:hover {
  cursor: pointer;
}

.img-sizer {
  height: 2rem;
  width: 2rem;
}

.test-label {
  text-align: center;
}
.criteria-text {
  padding-left: 5rem;
  font-size: 0.8rem;
}
