.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, auto));
    max-width: 800px;
    margin: auto;
}

.container-item {
    background-color: bisque;
}

#VEMPchart {
    max-width: 70%;
}