.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-template-areas: 
    "head head head head"
    "section1 . . ."
    ". sub score1 score2"
    ". sub2 score3 score4"
    "section2 . . ."
    ". sub3 score5 score6";
    max-width: 800px;
    margin: auto;
}

.container-item {
    background-color: bisque;
}

.container-for-charts {
display: grid;
grid-template-columns: repeat(2, 1fr);
max-width: 800px;
margin: auto;
}

h1 {
    text-align: center;
}