.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-template-areas: 
    "head head head head"
    "section1 . . ."
    ". sub score1 score2"
    ". sub2 score3 score4"
    "section2 . . ."
    ". sub3 score5 score6";
    max-width: 800px;
    margin: auto;
}

.container-item {
    background-color: bisque;
}

.container-for-chart {
max-width: 400px;
margin: auto;
}

h1 {
    text-align: center;
}

.toggle-button-enabled {
    height: 25px;
    width: 40px;
    background-color: #3277DF;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .toggle-button-disabled {
    height: 25px;
    width: 40px;
    background-color: #FEDEE6;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
  }